/* Mobile, portrait */
@media only screen and (min-width: 400px) and (max-width: 720px){
    body{
        background-color: #4c4c4e;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .header{
       display:-webkit-box;
       display:-ms-flexbox;
       display:flex;
       -webkit-box-ordinal-group:0;
       -ms-flex-order:0;
       order:0;
       width:100%;
       color:white;
       font-size:4.5em;
       text-align:center;
       border: white 4px solid;
       -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-shadow: white 4px 4px 4px;
        box-shadow: white 4px 4px 4px;
        background-image: -webkit-gradient(linear, left top, right top, from(#f7931d) , to(darkgray));
        background-image: linear-gradient(to right, #f7931d , darkgray);
        font-family: NunitoBold;
    }
    .nav{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
        order:2;
       border: white 3px solid;
       text-align: center;
        width:100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        visibility:hidden;
        position:absolute;
        z-index:-1;
        display:none;
        font-family: NunitoItalic;
    }
    .main-information{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-ordinal-group:1;
        -ms-flex-order:1;
        order:1;
       color: white;
       font-size:3em;
       -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border: white solid 4px;
        -webkit-box-shadow: white 4px 4px 4px;
                box-shadow: white 4px 4px 4px;
        padding-top: 4rem;
        width:100%;
        font-family: Nunito;
            }

    .mobile-navigation{
        border: white solid 4px;
        -webkit-box-shadow: white 4px 4px 4px;
        box-shadow: white 4px 4px 4px;
        list-style-type: none;
        width:100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        font-family: NunitoItalic;
        font-size:2rem;
    }

    
ul li:hover > ul, ul li ul:hover{
    opacity:1;
    visibility:visible;
    display:-webkit-box;
    display:-ms-flexbox;
    display:inline-block;
    clear:both;
}
ul li ul li{
    
    width:100%;
}

ul li ul{
    background:#f7931d;
    visibility: hidden;
    opacity:0;
    max-width: 270px;;
    position: absolute;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 4px;
    padding-left: 2px;
    display:none;
    border: white solid 4px;
}
   
li{
    background-color: #f7931d;
    color: white;
    display:block;
    padding: 2px;
    position:relative;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    float:left;
    font-size: 2.5rem;
    border: solid white 2px;
    
}
ul{
    background: transparent;
    margin:0;
    padding-left:0;
    list-style-type: none;
}
.mobile-navigation ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;

}

.info-heading{
    color:white;
    -webkit-text-decoration: underline #f7931d;
    text-decoration: underline #f7931d;
}


.main-information .gallery img{
    display:block;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 4rem;
    border: white solid 4px;
    width:95%;
    margin-left:2.5%;



}





/* Mobile, landscape */
@media only screen and (min-width: 721px) and (max-width: 949px) {
.main-information {
    color: hotpink;
}



.mobile-navigation{
    visibility: hidden;
    display:none;
    
}



img{
    width:50%;
}
}

/* desktop */
@media only screen and (min-width:950px) and (max-width: 1440px) {

body{
    background-color: white;
    font-family: Nunito;
    
}



}




@font-face{
    font-family:NunitoBold;
    src: 
    url('Fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype');

}


@font-face{
    font-family:Nunito;
    src:
    url('Fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}





@font-face{
    font-family:NunitoItalic;
    src:
    url('Fonts/Nunito/Nunito-Italic.ttf') format('truetype');
}







.button{
    background: -webkit-gradient(linear, left top, left bottom, from(black) , to(lightgray));
    background: linear-gradient(to bottom, black , lightgray);
    border:white 4px solid;
    color:black;
    font-size: 4rem;
    text-decoration: none;
}

.button a:link{
    background: -webkit-gradient(linear, left top, left bottom, from(black) , to(lightgray));
    background: linear-gradient(to bottom, black , lightgray);
    border:white 4px solid;
    color:black;
    font-size: 4rem;
    text-decoration: none;
}

.button a:visited{
    background: -webkit-gradient(linear, left top, left bottom, from(black) , to(lightgray));
    background: linear-gradient(to bottom, black , lightgray);
    border:white 4px solid;
    color:black;
    font-size: 4rem;
    text-decoration: none;
}


.button a:hover{
    background: -webkit-gradient(linear, left bottom, left top, from(black), to(lightgray));
    background: linear-gradient(to top, black, lightgray);
    color: white;
    font-size: 4rem;
    text-decoration: none;


}
}